/* TODO: Make it awesome */

body{
  background-color: #D7D4CC;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  flex-direction: column;
}

header{
  background-color: #A7C0BE;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1:nth-of-type(1){
  font-size: 20pt;
}

main{
  display: flex;
  margin: 15px;
  flex-direction: column;
}

.card{
  margin: 2%;
}

fieldset{
  display: flex;
  flex-direction: column;
}

.col2 fieldset label{
  margin: 3% 0 3% 0;
}

.col-2{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

footer{
  background-color: #A7C0BE;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav{
  width: 100%;
  display: flex;
  flex-direction: row;
}

nav ul{
  display: flex;
  justify-content: flex-start;
}

nav ul li{
  margin: 25%;
  display: flex;
  flex-direction: row;
}

nav span{
  margin-left: 6px;
}

.copy ol li{
  margin: 1%;
}

.col-2 .card{
  width: 50%;
}

#cartContents div{
  display: flex;
  flex-direction: row;
  margin: 1.2%;
}
img {
  height: 100px;
  width: 100px;
}
tr {
  display: flex;
  justify-content: center;
  align-items: center;
}
td {
  margin-left: 30px;
}
label {
  margin-top: 10px;
  margin-bottom: 10px;
}
#orderMessage {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
#modal {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
#close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#close:hover,
#close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}